# FILE: preseed.cfg
# DESCRIPTION: Preseed file for setting up Ravage (primary pihole).
# This file automates most of the Debian installation process,
# but it requires manual input for security-sensitive information
# like passwords and GitHub credentials.

### Localisation
# Sets the system language, locale, keyboard layout, and timezone.
# en_GB.UTF-8 is Proper English.
# gb is for the British keyboard layout.
# Europe/London is for the correct time zone.
d-i debian-installer/locale string en_GB.UTF-8
d-i keyboard-configuration/xkb-keymap select gb
d-i time/zone string Europe/London

### Network Configuration
# Configures a static IP address for the machine, as there is 
# no DHCP server. It sets the IP, netmask, gateway, and points
# to a Cloudflare DNS server (1.1.1.1).
# Hostname is set to 'ravage' and domain to 'sunny-side.co.uk'.

# netcfg will choose an interface that has link if possible. This makes it
# skip displaying a list if there is more than one interface.
d-i netcfg/choose_interface select auto

# Automatic network configuration is the default. Need to disable it to
# use static configuration.
d-i netcfg/disable_autoconfig boolean true

# There is no DHCP server so need to tell the installer to handle this.
d-i netcfg/dhcp_failed note
d-i netcfg/dhcp_options select Configure network manually

# Static network configuration.
d-i netcfg/get_ipaddress string 192.168.0.250
d-i netcfg/get_netmask string 255.255.255.0
d-i netcfg/get_gateway string 192.168.0.1
d-i netcfg/get_nameservers string 1.1.1.1
d-i netcfg/confirm_static boolean true

# Any hostname and domain names assigned from dhcp take precedence over
# values set here. However, setting the values still prevents the questions
# from being shown, even if values come from dhcp.

d-i netcfg/get_hostname string ravage
d-i netcfg/get_domain string sunny-side.co.uk

# If you want to force a hostname, regardless of what either the DHCP
# server returns or what the reverse DNS entry for the IP is, uncomment
# and adjust the following line.
d-i netcfg/hostname string ravage

### Mirror Selection and APT Setup
# Tells the installer to select a UK package mirror.
d-i mirror/country string GB
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
# Enables the 'security', 'updates', 'contrib', and 'non-free' repositories.
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
# Skips the prompt asking to scan for extra installation media (CDs/DVDs).
d-i apt-setup/cdrom/check_for_cd boolean false
# Prevents the CD-ROM entry from being written to the /etc/apt/sources.list file.
d-i apt-setup/disable-cdrom-list boolean true

### Account Setup
# Configures user accounts. It intentionally omits passwords for 
# security, forcing the installer to prompt the user for them.
d-i passwd/root-login boolean true
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypted-home boolean false
# This section creates the 'ravage-admin' user. The installer will
# pause and prompt for this user's password.
d-i user-setup/local-user-name string ravage-admin
d-i user-setup/fullname string ravage-admin
d-i passwd/user-password password
d-i passwd/user-password-again password

### Partitioning
# Automates disk partitioning based on a predefined scheme.
# It targets the first internal hard drive.
d-i partman-auto/disk string /dev/disk/by-id/ata-*
d-i partman-auto/method string regular
# The partitioning recipe defines the sizes and mount points for
# each partition.
d-i partman-auto/expert_recipe string                             \
      scheme ::                                                   \
      # Partition 1: 1MB free space for the BIOS boot partition.  \
      1 1 1 free                                                  \
      $iflabel{bios_grub}                                         \
      $if-system{x86}                                             \
      method{biosgrub} format{ } .                                \
      # Partition 2: A 20GB root partition (`/`) for the OS.      \
      20000 20000 20000 ext4                                      \
      $default_filesystem{ext4}                                   \
      $lvmok{true}                                                \
      $primary{true}                                              \
      method{format} format{ }                                    \
      mountpoint{/} .                                             \
      # Partition 3: A 4GB swap partition for virtual memory.     \
      4000 4000 4000 swap                                         \
      $default_filesystem{swap}                                   \
      $lvmok{true}                                                \
      $primary{true}                                              \
      method{swap} format{ } .                                    \
      # Partition 4: A `/home` partition uses rest of the space.  \
      1 10000 0 ext4                                              \
      $default_filesystem{ext4}                                   \
      $lvmok{true}                                                \
      $primary{true}                                              \
      method{format} format{ }                                    \
      mountpoint{/home} .

### Base System Installation
# Disables installation of "recommended" packages to create a 
# minimal, lightweight system.
d-i base-installer/install-recommends boolean false

### Task Selection
# Selects the 'task' the system will perform. Here this is a headless
# base system and SSH server.
tasksel tasksel/first multiselect standard system, ssh-server

### Package Selection
# Installs the following packages that installation is dependent on:
# - nano: A simple text editor for command line.
# - git: For cloning repositories.
# - curl: For transferring data with URLs.
# - golang-go: The Go programming language, needed for nebula-sync.
# Installs the following packages that will provide necessary functionality:
# - ufw: Uncomplicated Firewall for managing firewall rules.
# - openssh-client: For SSH client capabilities.
# - unbound: A validating, recursive, and caching DNS resolver.
# - keepalived: For high availability and load balancing.
# Disables installation of "recommended" packages for these selections.
d-i pkgsel/include string nano git curl golang-go
d-i pkgsel/include string ufw openssh-client unbound keepalived
d-i pkgsel/install-recommends boolean false
# Configure system to install security updates automatically.
d-i pkgsel/update-policy select unattended-upgrades

### GRUB
# Installs the GRUB2 boot loader.
d-i grub-installer/grub2_instead_of_grub_legacy boolean true

### Finish Installation
# Tells the installer to automatically reboot after the installation
# is complete.
d-i finish-install/reboot_now boolean true

### Late Command
# This adds ravage-admin to the sudo group, clones the Howlback GitHub
# repository, sets the cloned repo to executable and then creates a systemd
# service to run a script called first-boot-setup.sh to collect passwords for
# Pi-hole and Keepalived on first boot.
d-i preseed/late_command string \
      in-target usermod -aG sudo ravage-admin; \
      in-target git clone https://github.com/MrFordy/ravage.git /root/setup_scripts; \
      in-target chmod -R +x /root/setup_scripts; \
      cat > /target/etc/systemd/system/first_boot_setup.service <<'EOFSYSTEMD'
[Unit]
Description=First Boot Setup - Collect Passwords and Configure System
After=network.target
Before=getty@tty1.service

[Service]
Type=oneshot
ExecStart=/root/setup_scripts/first_boot_setup.sh
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
EOFSYSTEMD
      in-target systemctl enable first_boot_setup.service
